[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
pillow = "*"
faker = "*"
django = "3.1.12"
django-seed = "0.1.9"
psycopg2-binary = "*"

[requires]
python_version = "3.10.2"

[pipenv]
allow_prereleases = true
